.container{
  width: calc(100% - 60px);
  height: 100%;
  padding: 30px;
  padding-top: 0;
}

.heading{
  font-size: 2.9rem;
  margin: 20px 0 0 0;
}

.text-light-gray{
  color: lightgray;
}

.checkbox-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.w-full{
  width:100%
}

.text-danger{
  color: red;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .checkbox-container{
     width: 100%;
   }
}

@media only screen and (max-width: 600px) {

  .container{
    width: calc(100% - 40px);
    padding: 20px;
  }

  .checkbox-container{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

}

@media only screen and (max-width: 320px) {
  .heading{
    font-size: 2rem;
  }
}