.container{
  width: calc(100% - 60px);
  height: 100%;
  padding: 30px;
  padding-top: 0;
}

.filter-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.text-light-gray{
  color: lightgray;
}

.checkbox-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.searchBox{
  width: 70%;
  overflow: hidden;
}

.searchBox input{
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  transition-duration: 1s;
  width: 100%;
  outline: none;
}

.searchBox input:focus{
    border-bottom: 2px solid blue;
}

.w-full{
  width:100%
}

.pagination-container{
  margin-top: 20px;
}